* text eol=lf

# don't line-ending-normalize binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary
*.zip binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary